h1 {
  // Style for 'our chartered destinations'
  font-family: 'Source Code Pro', monospace;
  color: #121730;
  font-size: 30px;
  font-weight: 300;
  line-height: 48px;
  text-transform: lowercase;
  letter-spacing: 3px;
  margin: 0 auto;
  padding: 50px 0 60px 0;
}

h2 {
  /* Text style for "CUBA" */
  color: #ffffff;
  font-size: 32px;
  font-weight: 300;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: 4px;
  padding: 10px 0 30px 0;
}

h3 {
  /* Style for "Bahamas &" */
  color: #ffffff;
  font-size: 14px;
  font-weight: 300;
  line-height: 32px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

h4 {
  /* Text style for "View Itine" */
  color: #ffffff;
  font-style: italic;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 1px;
}
