@import './partials/_reset.scss';
@import './partials/_typography.scss';
@import './partials/_carousel.scss';
@import './partials/_mobileResponsive.scss';

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Source Code Pro', monospace;

  section {
    text-align: center;

    .slick-slide.slick-active.slick-center {
        transform: scale(1.2);
    }

    .viewAllDestinationsLink {
      margin: 0 auto;
      font-style: italic;
      letter-spacing: 0.5px;
      width: 256px;
      border: 1px solid #e7e7ea;
      padding: 1.2rem;
      text-decoration: none;
      color: black;
      margin-top: 80px;
    }
  }
}
